body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #650f85;
  color: #e8dfe2;
  padding: 1rem;
}

header a {
  color: #ae34c4;
  text-decoration: none;
  margin-right: 1rem;
}

header a:hover {
  color: #40163a;
}

#home {
  background-color: #51535384;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

#home h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#home p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 30rem;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #444;
}

#about {
  background-color: #75764c94;
  padding: 4rem 2rem;
  text-align: center;
}

#about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#about p {
  font-size: 1.2rem;
  max-width: 30rem;
  margin: 0 auto 2rem auto;
}

#skills {
  background-color: #8d83836e;
  padding: 4rem 2rem;
  text-align: center;
}

.skill-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.skill-item {
  text-align: left;
}

.progress-bar {
  height: 20px;
  background-color: #ffffffb1;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.html,
.css,
.JavaScript,
.C    {
  background-color: #ab1914;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: progress 2s forwards;
  border-radius: 5px;
}

.html {
  width: 75%;
}

.css {
  width: 80%;
  animation-delay: 0.5s;
}

.JavaScript {
  width: 60%;
  animation-delay: 1s;
}

.C    {
  width: 60%;
  animation-delay: 1.5s;
}

@keyframes progress {
  0% {
    width: 0;
  }
}

#projects {
  background-color: #797474;
  padding: 4rem 2rem;
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

